<footer>
    <nav>
        <div class="social">
            <a href="https://www.facebook.com/pages/Stray-Landings/134449156630905" target="_blank" class="icon-facebook"></a>
            <a href="https://twitter.com/straylandings" target="_blank" class="icon-twitter"></a>
            <a href="https://www.instagram.com/straylandings/" target="_blank" class="icon-instagram"></a>
            <a href="https://soundcloud.com/stray-landings" target="_blank" class="icon-soundcloud"></a>
        </div>
        <div class="contact">
            <a href="/about">About</a>
            <a href="mailto:straylandings@hotmail.co.uk?Subject=">mail</a>
        </div>
    </nav>
</footer>