<header>
    <a class="logo" href="/">logo</a>
    <nav>
        <a href="news.html">News</a>
        <a href="reviews.html">Reviews</a>
        <a href="articles.html">Articles</a>
        <a href="interviews.html">Interviews</a>
        <a href="mixes.html">Mixes</a>
        <a href="radio.html">Radio</a>
      
        <form id="search-form" action="/search" method="get">
            <input type="text" name="query" value="" autocomplete="off">
            <button type="submit"><i class="icon-search"></i></button>
        </form>
    </nav>
</header>