<header>
    <a class="logo" href="/">logo</a>
    <nav>
        <div id="nav-links">
            <a href="#">articles</a>
            <a href="#">reviews</a>
            <a href="#">interviews</a>
            <a href="#">podcasts</a>
            <a href="#">releases</a>  
        </div>
        <form id="search-form" action="/search" method="get">
            <input type="text" name="query" autocomplete="off">
            <button type="submit"><i class="icon-search"></i></button>
        </form>
    </nav>
</header>