<header>
    <a class="logo" href="/">logo</a>
    <nav>
        <a href="news">News</a>
        <a href="reviews">Reviews</a>
        <a href="articles">Articles</a>
        <a href="interviews">Interviews</a>
        <a href="mixes">Mixes</a>
        <a href="radio">Radio</a>
      
        <form id="search-form" action="/search" method="get">
            <input type="text" name="query" value="" autocomplete="off">
            <button type="submit"><i class="icon-search"></i></button>
        </form>
    </nav>
</header>