<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <title>Straylandings</title>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <meta name="description" content="Stray Landings is an electronic music site dedicated to bringing to light the best in forward thinking new producers. We will regularly be reviewing tracks we feel stand out as original, unique and deserving of more attention. We will also be providing guest podcasts to showcase new music, interviews with upcoming artists and articles on current issues within the scene." >
    <meta name="keywords" content="Stray Landings, Theo Darton-Moore, George McVicar, Asa Thomas, Robert Heath, Martin J Thompson, London, UK, electronic music, reviews, articles, podcasts, mixes, interviews, SM-LL, Happened" >
</head>
<body>
    {% include "_partials/header.html" %}
    <main>
        {{ content }}
    </main>
    {% include "_partials/footer.html" %}
    <script>
        if (window.netlifyIdentity) {
            window.netlifyIdentity.on("init", (user) => {
            if (!user) {
                window.netlifyIdentity.on("login", () => {
                document.location.href = "/admin/";
                });
            }
            });
        }
    </script>
</body>
</html>