---
layout: default.html
eleventyExcludeFromCollections: true
---

<section>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="author">
        <h1>Georgina Quach</h1>
    </div>
    <section class="recent">
        {% assign reversedPosts = collections.all | reverse %}
        {% for post in reversedPosts %}
        {% if post.data.author == 'Georgina Quach' or post.data.author == 'Georgina Quach'%}
            <div class="single">
                <a href="{{ post.url }}">
                    <figure>
                        {% if post.data.image_upload and post.data.image_upload != "" %}
                        <img src="{{ post.data.image_upload}}" alt="{{ post.data.title }}">
                        {% else %}    
                        <img src="{{ post.data.image}}" alt="{{ post.data.title }}">
                        {% endif %}        
                        <div class="overlay circle news"></div>
                    </figure>
                    <aside class="details">
                        <h2>{{ post.data.title }}<br></h2>
                    </aside>
                </a>
            </div>
        {% endif %}
        {% endfor %}
    </section>
</section>
