---
layout: default.html
eleventyExcludeFromCollections: true
---
<div class="container">        
    <section>
        <div class="bread-crumbs">
            <a href="/">home</a><span class="articles">/</span>Articles
        </div>
    </section>
    
    <section>
        <div class="collection">
            <section class="sidebar">            
                <div class="single">
                    <h2>Recommended</h2>
                    <figure>
                        <a href="/articles"><img src="" alt="Articles">
                        <div class="overlay"></div>
                        <h2>Articles</h2>
                        </a>
                    </figure>   
                </div>
            </section>
        </div>
        <div class="collection">
            <h1>Articles</h1>
            <div class="collect">
                {% assign reversedArticles = collections.articles | reverse %}
                {% for post in reversedArticles limit:20 %}
                <div class="single">
                    <a href="{{ post.url }}">
                        <figure>
                            {% if post.data.image_upload and post.data.image_upload != "" %}
                                <img src="{{ post.data.image_upload}}" alt="{{ post.data.title }}">
                            {% else %}    
                                <img src="{{ post.data.image}}" alt="{{ post.data.title }}">
                            {% endif %}    
                            <div class="overlay circle article"></div>
                        </figure>
                        <aside class="details">
                            <h2> {{ post.data.title }}
                                {% if post.data.who %}
                                    <br>{{ post.data.who }}
                                {% endif %}
                            </h2>
                        </aside>
                    </a>
                </div>   
                {% endfor %}             
            </div>
            <div class="pagination">
            <p>1 of 5</p>
            <a href="?page=2">Next</a>
        </div>
        </div>
    </section>
</div>
